<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA20tPF_ZH7oOITMgSfF3G8K37I7smYsqo</string>
	<key>GCM_SENDER_ID</key>
	<string>61906687452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.pandapay.pandapay</string>
	<key>PROJECT_ID</key>
	<string>notification-fd639</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-fd639.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:61906687452:ios:7e9119d2a64288ca772b19</string>
</dict>
</plist>
